.photo-container {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.captured-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.photo-container button {
  position: absolute;
  top: 5px;
  right: 5px;
}
mat-form-field {
  width: 100%;
}
