.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 90%;
  }
  
  .form-section,
  .table-and-calculations,
  .verification-section,
  .actions {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .table-and-calculations {
    display: flex;
    justify-content: space-between;
  }
  
  .reference-weight {
    margin-top: 20px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
  }
  